.body {
  text-align: center;
  display: block;
  margin: 30px 20px;
  padding: 20px 20px;
}
.weather-app {
  border: 1px solid #2fa4ff;
  margin: 20px auto;
  padding: 40px;
  max-width: 700px;
  border-radius: 20px;
}

.weatherForecast {
  text-align: center;
  color: #2fa4ff;
  text-decoration-line: underline;
  text-decoration-color: #000;
  font-size: 50px;
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-family: "Shadows Into Light", cursive;
}
.days {
  font-family: "Caveat", cursive;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: 600;
}
.nextdays {
  text-align: center;
}
